<div class="container">
  <h1>Life cycle of a component</h1>
  <div class="parent">
    <h3>Parent Component</h3>
    <div class="input-field">
      <input
        type="text"
        placeholder="Change text"
        (input)="onInputChange($event)"
      />
      <button class="btn" (click)="show = !show">Show Component</button>
    </div>
    <app-child *ngIf="show" [value]="parentValue"></app-child>
  </div>
  <h2>Життєвий цикл (хук) спрацьовує в:</h2>
  <div class="content">
    <ul>
      <li>
        <b>ngOnChanges</b>
        – зміни вхідних значень для властивостей
      </li>
      <li>
        <b>ngOnInit</b>
        – ініціалізації компонента (спрацьовує один раз)
      </li>
      <li>
        <b>ngDoCheck</b>

        – виклик механізму виявлення зміни значень властивостей компонента
      </li>
      <li>
        <b>ngAfterContentInit</b>
        – додавання вмісту до подання (в HTML-код), спрацьовує один раз
      </li>
      <li>
        <b>ngAfterContentChecked</b>
        – ініціалізації контенту та при кожній зміні вхідних параметрів.
      </li>
      <li>
        <b>ngAfterViewInit</b>
        – додавання вмісту до представлення (побудова DOM- структури та її
        відображення)
      </li>
      <li>
        <b>ngAfterViewChecked</b>
        – ініціалізації контенту та при кожній зміні даних компонента (побудова
        DOM-структури та її відображення).
      </li>
      <li>
        <b>ngOnDestroy</b>
        – момент до видалення компонента зі сторінки.
      </li>
    </ul>
    <img src="../assets/images/lifecycle-list.jpeg" alt="lifecycle" />
  </div>
</div>
